body {
  margin: 0;

  background-color: lightblue;
  height: auto;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

p {
  color: #141414;
  font-size: 18px; /* Adjust the font size */
  margin-bottom: 12px; /* Add some space below the heading */
  position: relative;
}

.footer {
  color: white;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  display: block;
  visibility: visible;
  z-index: 1;
}